<div class="stacks popularstack">
    <div class="container">
      <h2>Stacks</h2>
      <div class="sep"></div>
        {% if collections.stack.products.size > 0 %}

{% for product in collections.stack.products limit:2%}
       {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 0 %}
        <div class="womenstack">
          <a href="{{ product.url }}"><span class="menimage"><img src="{{ product.featured_image | product_img_url: 'master' }}"></span></a>
          <div class="content">
          
             
            <div class="popular" style="color:#b240d2; border-bottom:5px solid #b240d2">Most Popular Stack For Women</div>
            <div class="mainheading">{{ product.title | escape  }} </div>
            <div class="pricng-rating">
              <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
              <div class="rating">
               <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
            </div>

            <div class="buttons">
              <!--<button class="addtocart" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{ product.url | within: collection | replace: '/', '-' }}" >Add to Cart</button>-->
              <a class="learnMore" href="{{ product.url }}">Learn More</a>
            </div>
          </div>
        </div>
      <div id="myModal{{ product.url | within: collection | replace: '/', '-' }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
        <div class="product-deatil">
          <h3>{{ product.title }}</h3>
          <div class="product-price-rating">
            <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
            <div class="product-rating">
              <div class="rating">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
             
            </div>
          </div>

          <p class="intro">{{ product.description | truncate: 400 }}</p>

          
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <label> Selecte Flavor:- </label><select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
<div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
             <div class="qty-btn">
            <div class="qty-block">
              <div class="qty">
                 
                <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
                <div class="qty_inc_dec">
                  <i class="increment" onclick="incrementQty()"><i class="fa fa-angle-up"></i></i>
                  <i class="decrement" onclick="decrementQty()"><i class="fa fa-angle-down"></i></i>
                </div>
              </div>
            </div>
                <button type="submit" name="add" id="AddToCart" class="addtocart">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            </div>
  </div>
           
   <div class="addtocart-btn">
            <div class="product-form__item product-form__item--submit">
             <p class="btn"><a href="{{ product.url }}">View More</a></p>

            </div>
       </div>
          </form>

          <div class="styles_productMeta_1qgv1">
            <span class="styles_moneyback_GLmBh">100% Money Back Guarantee</span>
            <span class="styles_freeShipping_kb4M4">Free Shipping</span>
            <span class="styles_fdaApproved_2_8wL">Made in an FDA inspected facility</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
      
      </div>
    </div>

  </div>
</div>
      {% else %}
      <div class="menstack">
          <a href="{{ product.url }}"><span class="menimage"> <img src="{{ product.featured_image | product_img_url: 'master' }}"></span></a>
          <div class="content"> 
          
             
            <div class="popular"style="color:#235ea8; border-bottom:5px solid #235ea8">Most Popular Stack For men</div>
            <div class="mainheading">{{ product.title | escape  }}</div>
            <div class="pricng-rating">
              <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
              <div class="rating">
               <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
            </div>

            <div class="buttons">
              <!--<button class="addtocart" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{ product.url | within: collection | replace: '/', '-' }}" >Add to Cart</button>-->
              <a class="learnMore" href="{{ product.url }}">Learn More</a>
            </div>
          </div>
        </div>
      <div id="myModal{{ product.url | within: collection | replace: '/', '-' }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
        <div class="product-deatil">
          <h3>{{ product.title }}</h3>
          <div class="product-price-rating">
            <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
            <div class="product-rating">
              <div class="rating">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
             
            </div>
          </div>

          <p class="intro">{{ product.description | truncate: 400 }}</p>

          
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <label> Selecte Flavor:- </label><select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
<div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
             <div class="qty-btn">
            <div class="qty-block">
              <div class="qty">
                 
                <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
                <div class="qty_inc_dec">
                  <i class="increment" onclick="incrementQty()"><i class="fa fa-angle-up"></i></i>
                  <i class="decrement" onclick="decrementQty()"><i class="fa fa-angle-down"></i></i>
                </div>
              </div>
            </div>
               <button type="submit" name="add" id="AddToCart" class="addtocart">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            </div>
  </div>
            
   <div class="addtocart-btn">
            <div class="product-form__item product-form__item--submit">
             <p class="btn"><a href="{{ product.url }}">View More</a></p>

            </div>
       </div>
          </form>

          <div class="styles_productMeta_1qgv1">
            <span class="styles_moneyback_GLmBh">100% Money Back Guarantee</span>
            <span class="styles_freeShipping_kb4M4">Free Shipping</span>
            <span class="styles_fdaApproved_2_8wL">Made in an FDA inspected facility</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
      
      </div>
    </div>

  </div>
</div>
       
    {% endif %}
       {% endfor %}

{% endif %}
     
      
	

        

        <div class="product">
          <div class="row">
              {% if collections.stack-products.products.size > 0 %}

{% for product in collections.stack-products.products limit:3 %}
           
            <div class="col-sm-4">
                <div class="products">
                  <div class="item-box-hover">
                    <div class="box-inner">
                      <div class="actions">
                        <div class="buttons">
                          <!--<button class="addtocart" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{ product.url | within: collection | replace: '/', '-' }}" >Add to Cart</button>-->
                          <a href="{{ product.url }}" class="learnMore">Learn More</a>
                        </div>  
                      </div>
                    </div>
                  </div>
                  <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'large' }}"></a>
                  <div class="desc">
                    <div class="productname">
                      <h3>{{ product.title | escape  }}</h3>
                    </div>
                    <div class="left-content">
                      <div class="rating">
                       <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                      </div>
                      <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
                      <a class="learnMore mobilelearnmore" href="{{ product.url }}">Learn More</a>
                    </div>
                  </div>
                </div>
            </div>
            <div id="myModal{{ product.url | within: collection | replace: '/', '-' }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
        <div class="product-deatil">
          <h3>{{ product.title }}</h3>
          <div class="product-price-rating">
            <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
            <div class="product-rating">
              <div class="rating">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
             
            </div>
          </div>

          <p class="intro">{{ product.description | truncate: 400 }}</p>

          
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <label> Selecte Flavor:- </label><select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
<div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
             <div class="qty-btn">
            <div class="qty-block">
              <div class="qty">
                 
                <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
                <div class="qty_inc_dec">
                  <i class="increment" onclick="incrementQty()"><i class="fa fa-angle-up"></i></i>
                  <i class="decrement" onclick="decrementQty()"><i class="fa fa-angle-down"></i></i>
                </div>
              </div>
            </div>
               
            <button type="submit" name="add" id="AddToCart" class="addtocart">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            </div>
  </div>
   <div class="addtocart-btn">
            <div class="product-form__item product-form__item--submit">
             <p class="btn"><a href="{{ product.url }}">View More</a></p>

            </div>
       </div>
          </form>

          <div class="styles_productMeta_1qgv1">
            <span class="styles_moneyback_GLmBh">100% Money Back Guarantee</span>
            <span class="styles_freeShipping_kb4M4">Free Shipping</span>
            <span class="styles_fdaApproved_2_8wL">Made in an FDA inspected facility</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
      
      </div>
    </div>

  </div>
</div>
             
{% endfor %}

{% endif %}

          

            
          </div>
      </div>
    </div>
  </div>



  <div class="suppliment">
     <div class="container">
        <h2>Supplements</h2>
        <div class="sep"></div>
        <div class="product">
          {% if collections.Supplement.products.size > 0 %}

{% for product in collections.Supplement.products limit:4%}
         
           
          <div class="col-sm-4">
            <div class="products">
              <div class="item-box-hover">
                <div class="box-inner">
                  <div class="actions">
                    <div class="buttons">
                      <!--<button class="addtocart" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{ product.url | within: collection | replace: '/', '-' }}" >Add to Cart</button>-->
                      <a href="{{ product.url }}" class="learnMore">Learn More</a>
                    </div>  
                  </div>
                </div>
              </div>
              {% assign instructions = product.metafields.instructions %}
			{% assign key = 'popular' %}
              {% unless instructions == empty %}
             
               <span class="badge-popular">{{ instructions[key] }}</span> 
             
              {% endunless %}
               
              <a href="{{ product.url }}"><img src="{{ product.featured_image | product_img_url: 'medium' }}"></a>
              <div class="desc">
                <div class="productname">
                  <h3>{{ product.title | escape  }}</h3>
                </div>
                <div class="left-content">
                  <div class="rating">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                  <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
                  <a class="learnMore mobilelearnmore" href="{{ product.url }}">Learn More</a>
                </div>
              </div>
            </div>
          </div>
         
          <div id="myModal{{ product.url | within: collection | replace: '/', '-' }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
        <div class="product-deatil">
          <h3>{{ product.title }}</h3>
          <div class="product-price-rating">
            <div class="price"><span class="newPrice">{% if product.variants.first.compare_at_price > product.variants.first.price %} <del> ${{ product.variants.first.compare_at_price | money_without_currency | remove: '.00' }} </del> {% endif %} <span> ${{ product.variants.first.price | money_without_currency | remove: '.00' }} </span></span></div>
            <div class="product-rating">
              <div class="rating">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
             
            </div>
          </div>

          <p class="intro">{{ product.description | truncate: 400 }}</p>

          
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <label> Selecte Flavor:- </label><select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
<div class="product-single__quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
             <div class="qty-btn">
            <div class="qty-block">
              <div class="qty">
                 
                <input type="text" name="quantity" maxlength="12" value="1" title="" class="input-text" />
                <div class="qty_inc_dec">
                  <i class="increment" onclick="incrementQty()"><i class="fa fa-angle-up"></i></i>
                  <i class="decrement" onclick="decrementQty()"><i class="fa fa-angle-down"></i></i>
                </div>
              </div>
            </div>
               <button type="submit" name="add" id="AddToCart" class="addtocart">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            </div>
  </div>
            
   <div class="addtocart-btn">
            <div class="product-form__item product-form__item--submit">
             <p class="btn"><a href="{{ product.url }}">View More</a></p>

            </div>
       </div>
          </form>

          <div class="styles_productMeta_1qgv1">
            <span class="styles_moneyback_GLmBh">100% Money Back Guarantee</span>
            <span class="styles_freeShipping_kb4M4">Free Shipping</span>
            <span class="styles_fdaApproved_2_8wL">Made in an FDA inspected facility</span>
          </div>
        </div>

      </div>
      <div class="modal-footer">
      
      </div>
    </div>

  </div>
</div>
 {% endfor %}

{% endif %}
          

        </div>
    </div>
  </div>
