<div class="stacks apperal">
    <div class="container">
      <h2>Our Story</h2>
      <div class="sep"></div>

      <div class="merchproduct productstry">
        <div class="col-sm-6">
          <div class="ourstory">
            <div class="icon-left-reveal">
              <img src="{{ "leave.png" | asset_url }}">
            </div>
            <h3 class="mb-half blue">
              <span>SCIENCE BACKED INGREDIENTS</span>
              <p>Despite there being 100s of supplements 4nd ingredients on the market, only a handful have been scientifically proven to enhance exercise performance. These supplements can quickly help you break PRs or take your training to the next level. We know the secret to great supplements is in the ingredients. Each ingredient we use has been backed by scientific studies and literature. We only use high quality ingredients. We donʼt use junk fillers or any other additives.</p>
            </h3>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="ourstory">
            <div class="icon-left-reveal">
              <img src="{{ "noblends.jpg" | asset_url }}">
            </div>
            <h3 class="mb-half green">
              <span>NO PROPRIETARY BLENDS</span>
              <p>We only include proven ingredients at clinical doses. We've striped away the under dosed and blended ingredients to reinvest into what actually works.</p>
            </h3>
          </div>
        </div>

        <div class="col-sm-6 lastproduct">
          <div class="ourstory">
            <div class="icon-left-reveal">
              <img src="{{ "lab.jpg" | asset_url }}">
            </div>
            <h3 class="mb-half purple">
              <span>CLINICALLY EFFECTIVE DOSAGE</span>
              <p>Weʼre big advocates of supplement dosage. Each ingredient meets the required dose for it to actually be effective. Which means that when you want to build muscle, tone your body or lose weight and burn fat you have the right amount ofsupplements to make for optimal results.</p>
            </h3>
          </div>
        </div>
      </div>
       
      <div class="choosezyno stacks apperal">
        <h2>WHY CHOOSE ZYNO SPORTS?</h2>
        <div class="sep"></div>
        <p>We know choosing supplements can get confusing. With many companies and types of supplements, who and <br> what do you go with? We've solved that problem for you. Our sports supplements are broken down into four <br> simple categories. Stack all four for optimal results. Or mix and match to reach your goals.</p>

        <div class="chooseproducts">
            <div class="energy">
              <div class="icon-left-reveal"> <img src="{{ "energy.jpg" | asset_url }}"></div>
              <div class="span"><h3> <b>ENERGY</b> to increase endurance, focus, hydration and recovery.</h3></div>
            </div>

            <div class="build">
              <div class="icon-left-reveal"> <img src="{{ "build.jpg" | asset_url }}"></div>
              <div class="span"><h3> <b>BUILD </b> to increase muscle, strength, pump and recovery.</h3></div>
            </div>

            <div class="cut">
              <div class="icon-left-reveal"> <img src="{{ "cut.jpg" | asset_url }}"></div>
              <div class="span"><h3> <b>CUT </b>to increase thermogenesis, metabolism, energy and suppress appetite.</h3></div>
            </div>

            <div class="protein">
              <div class="icon-left-reveal"> <img src="{{ "protein.jpg" | asset_url }}"></div>
              <div class="span"><h3> <b>PROTEIN</b> to help meet daily protein requirements. Or to act as meal replacement.</h3></div>
            </div>
        </div>
      </div>

    </div>
  </div>



  <div class="benfits">
    <div class="container">
      <div class="content-text">
        <h3>BENEFITS OF SPORTS SUPPLEMENTS</h3>
        <div class="sep"></div>
        <p>Sports supplements are effective for a wide range of people; athletes, fitness enthusiast, beginners and health conscious individuals. The benefits of using sports supplements do not stop at pushing the boundaries of elite performance, they can also be used to kick start any health and fitness plan into action.</p>
      </div>

      <div class="seesuppliment">
        <a href="https://zyno-sportss.myshopify.com/pages/supplement" class="SuppliButton">See Our Supplements</a>
        
      </div>



    </div>


  </div>